USE [BankSystem]
GO
/****** Object:  StoredProcedure [core].[Operation_GetByAccountId]    Script Date: 23.12.2025 20:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Operation_GetByAccountId]
	@AccountId int,
	@PageNumber int,
	@PageSize int
as

begin
	Set nocount on;

    If (@PageNumber < 1)
        set @PageNumber = 1;

    If (@PageSize < 1)
        set @PageSize = 10;

    If (@PageSize > 100)
        set @PageSize = 100;

    Declare @Offset Int;
    set @Offset = (@PageNumber - 1) * @PageSize;

    select
        OperationId,
        Amount,
        OperationType,
        CreatedAt
    from core.Operation
    where AccountId = @AccountId
    Order by CreatedAt DESC
    Offset @Offset rows
    fetch next @PageSize rows only

end 