USE [BankSystem]
GO
/****** Object:  StoredProcedure [core].[Operation_Deposit]    Script Date: 23.12.2025 19:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Operation_Deposit]
	@AccountId int,
	@Amount Decimal(10,2)
as

begin
	set nocount on;
	set xact_abort on;

	begin try
		begin transaction;
			
			update core.Account with (rowlock, xlock)
			set Balance = Balance + @Amount
			where AccountId = @AccountId;

			insert into core.Operation(AccountId, Amount, OperationType)
			values (@AccountId, @Amount, 'Deposit');
		
		commit transaction;
	end try
	begin catch
		if @@TRANCOUNT > 0
		begin
			rollback transaction;
			raiserror('Transaction has failed', 16, 1);
			return;
		end
	end catch
end