USE [BankSystem]
GO
/****** Object:  StoredProcedure [core].[Account_GetById]    Script Date: 23.12.2025 20:58:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Account_GetById]
	@AccountId Int
as

begin
	set nocount on

	select * from core.Account
	where AccountId = @AccountId
	
end