USE [BankSystem]
GO
/****** Object:  StoredProcedure [core].[Account_Create]    Script Date: 23.12.2025 20:59:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Account_Create]
	@AccountId int output,
	@FullName Nvarchar(200),
	@Email Nvarchar(100),
	@Balance Decimal(10,2)
as

begin
	set nocount on
	set xact_abort on
	
	begin try
		begin transaction;

		insert into core.Account(FullName, Email, Balance)
		values (@FullName, @Email, @Balance);

		set @AccountId = SCOPE_IDENTITY();

		if (@Balance > 0)
		begin
			insert into core.Operation(AccountId, Amount, OperationType)
			values (@AccountId, @Balance, 'Deposit');
		end

		commit transaction;
	end try
	begin catch
		if @@TRANCOUNT > 0
			begin
				rollback transaction;
				Raiserror('Transaction has failed', 16, 1);
				return;
			end
	end catch
end