USE [BankSystem]
GO
/****** Object:  StoredProcedure [core].[Account_GetByEmail]    Script Date: 23.12.2025 20:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Account_GetByEmail]
	@Email Nvarchar(100)
as

begin
	set nocount on

	select * from core.Account
	where Email = @Email
	
end